<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel = "stylesheet" href = "style.css" type = "text/css" />
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.firstname %> <%= user.lastname %></h1>
    <a href="/log-out">LOG OUT</a>
    <a href = "/create">Create New Message</a>
    <div class = "messages"></div>

    <% for (var i = messages.length-1; i >= 0; i--) { %>
      <div class = "message">
      <% if (user.membership) {%>
          <p>Author: <%= messages[i].author %> </p>
          <p>Date: <%= messages[i].date %></p>
      <% } %>
        <p><%= messages[i].text %></p>
      <% if (user.admin) {%>
        <form method="post" action="/delete" class="inline">
          <input type="hidden" name="extra_submit_param" value="extra_submit_value">
          <button type="submit" name="id" value=<%= messages[i]._id %> class="link-button">
            Delete
          </button>
        </form>
      <% } %>
      </div>
    <% } %>

  <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <a href = "/sign-up">Sign-Up</a>
  <%}%>
</body>
</html>